<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>

  <h1 class="header">
    Welcome to Nasa!
  </h1>
  <%- include('partials/menu') %>

  <img src="<%=images %>" alt='Nasa Picture'>

  <p>
    <%= imageTxt  %>
  </p>
  <hr>
  <%- include('partials/footer') %>
</body>
</html>